/Binomialcofficient.java
/Charprint.java
/Comparision.java
/factorial.java
/Factproduct.java
/Function.java
/Java
/Javabasics.java
/Javas.java
/Oddeven.java
/pattern.java
/PrimeRange.java
/Starpattern.java
/Swpping.java
/Table.java